* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}

h1 {
  font-family: 8rem;
}

.contact-card form {
  display: flex;
  flex-direction: column;
}
