@import url("https://fonts.google.com/specimen/League+Spartan");

body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}

/* NAV BAR DESKTOP */
#mobile-nav {
  display: none;
}

.menu-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100%;
  z-index: 10;
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 12rem;
  /* flex-wrap: wrap; */
  width: 100%;
  padding: rem;
}

.nav-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 1.3rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: hsl(0, 0%, 27%);
  text-decoration: underline;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust distance below the text */
  width: 0;
  height: 5px;
  transition: all 0.3s ease-in-out; /* Smooth underline animation */
}

.nav-link:hover::after {
  width: 100%; /* Full width underline on hover */
}

/* STICKY NAV */
.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  width: 100%;
  z-index: 100;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 17px;

  width: 26px;
  text-align: center;
}

/* BODY STYLES */
.section-1 {
  position: relative;
}

.sl-row {
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;
  transform: translate(0, 0), scale(1);
  transition: all 0.3s ease-in-out;
}

.sl-column {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.hidden {
  display: none;
  transform: translate(0, -5px), scale(1);
  transition: all 0.3s ease-in-out;
}

.hero-img img {
  width: 100%;
  max-width: 800px;
  height: 500px;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.hero__banner-text {
  width: 100%;
  margin: 0 40px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text h2 {
  font-size: 40px;
}

.hero-text p {
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: hsl(0, 0%, 63%);
}

.btn {
  display: flex;
  align-items: center;
  justify-items: start;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 7px;
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
}

.btn a:hover {
  transform: translate(0, 5px);
  color: hsl(0, 0%, 63%);
}
.btn a:active {
  color: hsl(0, 0%, 0%);
}
.btn a:visited {
  color: hsl(0, 0%, 0%);
}
.btn a:focus {
  color: hsl(0, 0%, 0%);
}

.btn-left-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 9%;
  position: absolute;
  top: 27.9rem;
  left: 59.3%;
  z-index: 10;
  background-color: hsl(0, 0%, 0%);
}

.arrows {
  padding: 0.5rem;
  width: 28px;
  height: auto;
}

.left-btn,
.right-btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  padding: 0.4rem 1.4rem;
}

.left-btn:hover,
.right-btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 63%);
  transform: translate(0, -5px), scale(1);
  transition: all 0.3s ease-in-out;
}

.about {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}

.about h2 {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.about p {
  line-height: 1.6rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  font-weight: 500;
  color: hsl(0, 0%, 63%);
}

.about img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

footer {
  padding: 2rem;
  background-color: hsl(0, 0%, 0%);
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* color: hsl(0, 0%, 37%); */
}
.footer-logo {
  width: 80px;
  height: auto;
}

h5 {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.team {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team p {
  color: hsl(0, 0%, 100%);
}

.team-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: hsl(0, 0%, 37%);
}

.footer_text {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer_nav-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer_nav-links ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 37%);
  font-size: 1rem;
  font-weight: 500;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe p {
  color: hsl(0, 0%, 100%);
}

.footer-input {
  width: 90%;
  background: none;
  border: none;
  border-bottom: 1px solid hsl(41, 71%, 74%);
  padding: 10px;
}

.footer-input:focus {
  outline: none;
}

.btn-subscribe {
  width: 80%;
  background: none;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(41, 71%, 74%);
  padding: 10px;
}

.btn-subscribe:hover {
  background-color: hsl(41, 71%, 74%, 0.5);
}

@media (max-width: 480px) {
  .section-1 {
    position: relative;
  }

  .btn-left-right {
    position: absolute;
    width: 7%;

    top: 100rem;
    left: 50%;
  }

  footer {
    padding: 1rem;
    background-color: hsl(0, 0%, 0%);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: center;
    gap: 0.5rem;
    /* color: hsl(0, 0%, 37%); */
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn-subscribe {
    width: 70%;
    background: none;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(41, 71%, 74%);
    padding: 8px;
  }
}

@media (max-width: 768px) {
  /* General Styles */
  body {
    margin: 0;
  }

  /* NAV BAR   */
  #web-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  .nav-container {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    gap: 2px;
  }

  .nav-container {
    position: relative;
    background-color: transparent;
  }

  /* Logo Styling */
  .nav-logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .footer-logo {
    width: 60px;
  }

  /* Hamburger Button */
  .nav-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 2rem;
    left: 0.5rem;
  }

  .hamburger-icon,
  .close-icon {
    width: 18px;
    height: 18px;
  }

  /* Mobile Menu */
  .mobile-menu {
    position: absolute;
    top: 3%;
    left: 0;
    width: 30%;
    height: 20vh;
    background-color: hsl(0, 0%, 27%);
    text-align: center;
    transform: translate(0, -5px), scale(1);
    transition: all 0.3s ease-in-out;
    z-index: 11;
  }

  .mobile-menu.hidden {
    display: none;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 2px;
  }

  .menu-links li {
    margin: 5px 0;
  }

  .menu-link {
    flex-direction: column;
    gap: 2px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 10px;
    text-transform: capitalize;
  }

  /* Transition for Visible Menu */
  .mobile-menu.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  /* BODY STYLING */
  .section-1 {
    position: relative;
  }

  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }

  .sl-row {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .sl-column {
    flex-direction: column;
    gap: 2rem;
  }
  .hero-img {
    /* display: block; */
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    height: 500px;
  }

  /* .hero-img img {
    width: 100vw;
    height: auto;
  } */

  .hero__banner-text {
    width: 100%;
    padding: 0 32px;
  }

  .hero-text h2 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: 12px;
    line-height: 1rem;
    font-weight: 500;
  }

  .btn {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 8px;
    cursor: pointer;
  }

  .btn a:hover {
    transform: translate(0, 5px);
    color: hsl(0, 0%, 63%);
  }
  .btn a:active {
    color: hsl(0, 0%, 0%);
  }
  .btn a:visited {
    color: hsl(0, 0%, 0%);
  }
  .btn a:focus {
    color: hsl(0, 0%, 0%);
  }

  .btn-left-right {
    position: absolute;
    width: 9%;
    /* top: 68%;
    left: 68%; */
    top: 43%;
    left: 66%;
  }

  .arrows {
    padding: 3px;
    width: 16px;
    height: auto;
  }

  .left-btn,
  .right-btn {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    padding: 0.4rem 1.4rem;
  }

  .about {
    flex-direction: column;
    gap: 2rem;
    padding: 30px;
  }

  .about img {
    background-size: cover;
    width: 100vw;
    height: auto;
  }

  .about h2 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: px;
    margin-bottom: 5px;
  }

  .about p {
    line-height: 1rem;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    font-weight: 500;
    color: hsl(0, 0%, 63%);
  }

  footer {
    background-color: hsl(0, 0%, 0%);
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Tablet Styles (up to 1024px) */
@media (max-width: 1024px) {
  /* Adjusting image sizes */
  .hero-img img {
    width: 500px;
    height: auto;
  }

  .hero__banner-text {
    width: 70%;
    padding: 0 32px;
  }

  .btn-left-right {
    position: absolute;
    width: 5%;

    top: 46.2%;
    left: 48.9%;
    /* transform: translateX(-50%); */
  }
  .arrows {
    padding: 2px;
    width: 14px;
    height: auto;
  }

  .left-btn,
  .right-btn {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    padding: 0.4rem 1rem;
  }

  /* Hero Text */
  .hero-text h2 {
    font-size: 1.8rem; /* Resize for tablet */
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  .section-1 {
    position: relative;
  }

  .btn-left-right {
    position: absolute;
    width: 7%;

    top: 35;
    left: 46.7rem;
  }

  /* Make sure the hero image is fixed and covers space properly */
  .hero-img img {
    width: 750px;
    height: 500px;
  }

  .hero-text h2 {
    font-size: 3rem;
  }

  /* Make sections more spacious on desktop */
  .about {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  .about img {
    width: 30%;
    height: auto;
  }

  /* footer {
    margin-top: auto;
  }

  .footer {
    margin-bottom: 0;
    padding-bottom: 0;
  } */
}
